.data-container {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 10px;
    margin-bottom: 50px;

    @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 425px) {
        grid-template-columns: repeat(1, 1fr);
    }

    .data-item {    
        margin: 10px;
        height: fit-content;
        background-color: $twilight-blue;
        border-radius: 5px;
        border: 1px solid $boston-blue;
        box-shadow: 4px 5px $boston-blue;

        .data-item-heading {
            padding-top: 20px;
            padding-bottom: 20px;
            color: $boulder;
            font-size: 30px;
            font-family: $inconsolata;
        }

        .data-item-titles {
            padding-bottom: 20px;
            color: $hillary;
            font-size: 25px;
            font-family: $inconsolata;            
        }

        .data-item-contents {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: $dove-gray;

            .check-out-btn {
                background-image: url('../images/out_graphic_v2.svg');
                background-repeat: no-repeat;
                background-position: center;
                display: inline-block;
                background-clip: padding-box;
                border: 3px solid transparent;
                width: 35px;
                height: 35px;
                cursor: pointer;

                &:hover, &:focus {
                    background-image: url('../images/out_graphic_rollover.svg');
                    box-shadow: 0 0 0 2px $boston-blue;
                    border-radius: 10px;
                    outline: none;
                }
            }
        }

        .data-item-line {
            max-width: 90%;
            background: $hillary;
            height: 1px;
            border: 0px;
        }
    }
}
