@import 'variables';

.insert-users-background {
    background-color: #f9f9f9;
}

form {
    display: inline-flex;
    padding-bottom: 50px;
}

input, select {
    margin-right: 10px;
    background-color: #B8FCE1;
    background-clip: padding-box;
    border: 4px solid transparent;

    &:disabled {
        background-color: #dbdbdb;
    }

    &:hover:enabled, &:focus:enabled {
        box-shadow: 0 0 0 2px #6DFDC3;
        border-radius: 10px;
        outline: none;
    }
}

input {
    height: 50px;
}

select {
    height: 60px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #578EB7;
    opacity: 1; /* Firefox */
    font-size: 23px;
    font-family: $source-code-pro;
    text-align: center;
}
    
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #578EB7;
    font-size: 23px;
    font-family: $source-code-pro;
    text-align: center;
}
    
::-ms-input-placeholder { /* Microsoft Edge */
    color: #578EB7;
    font-size: 23px;
    font-family: $source-code-pro;
    text-align: center;
}

select, option {
    color: #578EB7;
    font-size: 23px;
    font-family: $source-code-pro;
    font-weight: 600;
}

.logo {
    width: auto;
    height: 100px;
    padding-top: 20px;
}

.check-in, .divider, .check-out {
    font-family: $source-code-pro;
    font-size: 40px;
    font-weight: 800;
}

.check-in {
    color: #6DFDC3;
}

.divider {
    color: #b8fce1;
}

.check-out {
    color: #74A2AB;
}

.parent-check-in-btn {
    background: transparent;
    border: 0px;
    padding: 0;
    outline: 0; 
}

.check-in-btn {
    border-radius: 5px 5px 5px 0px;
    background-image: url('../images/in_graphic.svg');
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    background-clip: padding-box;
    border: 3px solid transparent;
    width: 50px;
    height: 50px;
    cursor: pointer;

    &:hover, &:focus {
        background-image: url('../images/in_graphic_rollover.svg');
        box-shadow: 0 0 0 2px #6DFDC3;
        border-radius: 10px;
        outline: none;
    }
}
