@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@800&family=Roboto:wght@100&family=Source+Code+Pro:wght@600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@800&family=Roboto:wght@100&family=Source+Code+Pro:ital,wght@0,600;1,800&display=swap');

// Font Variables
$source-code-pro: 'Source Code Pro', monospace; 
$inconsolata: 'Inconsolata', monospace;

// Colors
$aero-blue: #B8FCE1;
$alto: #dbdbdb;
$aquamarine: #6dfdc3;
$hippie-blue: #578eb7;
$gumbo: #74a2ab;
$twilight-blue: #ecfcff;
$boulder: #787878;
$hillary: #aba67d;
$dove-gray: #686868;

// Toastify variables
:root {
    --toastify-color-success: #6DFDC3 !important;
    --toastify-color-info: #74A2AB !important;
}

