@mixin styles {
    form {
        display: inline-flex;
        padding-bottom: 50px;
    }

    input, select {
        margin-right: 10px;
    }

    .check-in-btn {
        width: auto;
        height: 35px;
    }
}